@CHARSET "UTF-8";

body {
}

#wrapper, #container {
  height: 160px;
  width: 600px;
}

#wrapper {
  bottom: 50%;
  right: 50%;
  position: absolute;
}

#container {
  left: 50%;
  position: relative;
  top: 50%;
  margin: auto;
  border: 1px solid black;
  width: 300px;
  padding: 10px;
}

table td {
  line-height: 35px;
}