* {
	font-family: arial;
	font-size: 0.97em;
	margin: 0px;
	padding: 0px;
	border: none;
}

body
{
  overflow: hidden;
}

header {
	border-bottom: 1px solid #000;
	padding: 0px 5px;
	background: #000000;
    color: #EEEEEE;
    font-size: 0.8em;
    padding: 5px;
    height: 49px;
}

#wrapper {
	width: 100%;
	height: 100%;
}

#selector {
	position: absolute;
	top: 60px;
	left: 0px;
	bottom: 0px;
	width: 210px;
	overflow-x: hidden;
	overflow-y: scroll;
	padding: 0px;
	
	div {
		position: relative;
		width: 200px;
	}
	
	ul {
		width: 200px;
		list-style-type: none;
		padding: 2px 5px;
		border-right: 1px solid #000;
		border-top: 1px dotted #ddd; 
		
		li {
			width: 100%;
			font-size: 0.8em;
			border-bottom: 1px dotted #ddd; 
			display: block;
			padding: 2px 10px;
			
			&:hover {
				background: #eee;
				cursor: pointer;
			}
		}
	}
}

#head {
	margin-bottom:5px;
	
	button {
		padding: 2px 5px;
		border: 1px solid #000;
		
		&.active {
			font-weight: bold;
		}
	}
}

#content {
  position: absolute;
  top: 60px;
  right: 0px;
  bottom: 0px;
  left: 230px;
  overflow-x: hidden;
  overflow-y: hidden;
  padding: 0px 5px;
	
	/*min-height: 520px;
	height: 750px;
	padding: 10px;
	margin-left:220px;*/
	
	table {
		border-collapse: collapse;
		width: 100%;
		
		th {
			background: #000000;
			color: #eee;
			padding: 2px;
			border: 1px solid #fff;
		}
		
		thead td {
		  padding: 2px 5px;
		  font-weight: bold;
		  border: 1px solid #fff;
		}
		
		tbody td {
		  padding: 2px 5px;
		  border: 1px solid #fff;
		}
		
		tbody tr:nth-child(odd) {
			background: #ddd;
		}
		
		tbody tr:nth-child(even) {
			background: #eee;
		}
		
		tbody tr:hover td {
			background: #ccc;
			cursor: pointer;
		}
	}
}

#content #show_table, #content #show_structure, #content #show_sql, #content #show_search {
	position: absolute;
	top: 45px;
	bottom: 10px;
	left: 0px;
	right: 10px;
	overflow-y: scroll;
}

.clearDiv {
	clear: both;
}
#logout {
	float:right;
	margin-right: 5px;
	border: 1px solid #000000;
	padding: 2px 5px;
	background: #E0DFE3;
	color: #000;
	text-decoration: none;
	position: relative;
	bottom: 10px;
}
h3 a {
	display: block;
	background-color: #ddd;
	padding: 3px;
	border-top: 1px dotted #aaa;
	color: #ff4422;
}
.hidden {
	display: none;
}
.showMore {
	cursor: pointer;
	float: right;
	font-weight: bold;
}